langchain
langchain-core
langchain-community
langchain-text-splitters

langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint
langgraph-checkpoint-sqlite

streamlit

python-dotenv

langchain-groq

chromadb
faiss-cpu
sqlite-vec

sentence-transformers
tiktoken

pypdf
pymupdf
unstructured
python-docx
openpyxl
beautifulsoup4
lxml
html5lib
markdown

duckduckgo-search
ddgs          

tavily-python

requests
httpx
yfinance      

numpy
pandas

sqlalchemy
aiosqlite

fastapi
uvicorn

langsmith

mcp

pydantic
PyYAML
orjson
tenacity
tqdm